<!DOCTYPE html>
<html>
<head>
    <title>Smart Krishi AI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body class="home-bg">

<div class="overlay">
    <div class="home-content">

        <!-- LOGO -->
        <img src="/static/logo.jpeg" class="logo">

        <!-- TITLE -->
        <h1>Smart Krishi System 🌱</h1>

        <!-- SUBTITLE -->
        <p>Soil, Water & Weed Analysis for Farmers</p>

        <!-- BUTTON -->
        <a href="/language">
            <button class="btn">Get Started</button>
        </a>

    </div>
</div>

</body>
</html>